* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}
/* Logo ou image */
.logo img {
    width: 100px;
    /* Largeur précise */
    height: auto;
    /* Conserve les proportions de l'image */
}
nav {
    backface-visibility: hidden;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    list-style: none;
    display:flex;
    align-items: center;
    gap: 40px;
}
.link{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #f5e831;
    font-weight: 700;
    padding:15px 0;
}
a{
    color: #f5e831;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.153em;
    padding: 15px 20px;
    position: relative;
}
a:hover:after{
    width: 100%;
    left: 0;
    background-color: #00fffc;
}