@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


li, a, button, .container1,footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background: none;
}

/* Style de la barre de navigation */
header {
    position: fixed;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10%;
    /*background-image: url("Compétition.JPG");*/
    background-color: rgb(158, 142, 119);
    box-shadow: 5px 10px 18px hsl(49, 87%, 69%);
    
}

.logo {
    cursor: pointer;
    position: fixed;
    width: 9%;
    margin: 2% 29% 2% -8%;
    font-size: 18px;
    background: none;
    position-try-order: 1;
}

nav {
    position: relative;
    padding: 15% 10% 15% 10%;
    margin: 15% 1% 15% 22%;
    position-try-order: 2;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links  > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

/* Ligne de soulignement initiale invisible */
.nav-links  li  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #f39c12;
    transition: width 0.3s ease;
}

/* Affichage de la ligne lors du survol */
.nav-links  li  a:hover::after {
    width: 100%;
    /* Ligne sous tout le lien */
}

.nav-links > li  a:hover {
    color: #f39c12;
    /* Change également la couleur du texte */
}

button {
    position: fixed;
    right: 5%;
    top: 5%;
    cursor: pointer;
    padding: 9px 25px;
    background-color: rgb(136, 130, 110);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    position-try-order: 3;
}

button:hover {
    background-color: rgb(211, 162, 3);
    transform: scale(0.8);
    transition: 0.5s ease;
}

ul.submenu li {
    display: block;
    margin-inline-end: 20px; 
    writing-mode: horizontal-tb;
    width: max-content;
    position: relative;
}

ul.submenu {
    width: 100%;
    display: none;
    position: absolute;
    background: rgb(158, 142, 119);
    z-index: 999;
}

ul.submenu li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    position: relative;
}







/*Ligne de soulignement initiale invisible */
ul.submenu li:hover a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #f39c12;
    transition: width 0.3s ease;
}

/* Affichage de la ligne lors du survol */
ul.submenu li:hover a:hover::after {
    width: 100%;
    /* Ligne sous tout le lien */
}

ul.submenu li:hover a:hover {
    color: #f39c12;
    /* Change également la couleur du texte */
}
.submenu a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-inline-end: 20px; 
    writing-mode: horizontal-tb;
    width: max-content;
}
.nav-links li:hover ul.submenu {
    display: block;
    animation: fadeIn 0.3s ease-out;
    margin-inline-end: 20px; 
    writing-mode: horizontal-tb;
    width: max-content;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

/*--------------la partie contenu---------------*/
.container1 {
    max-width: 100%;
    background-color: #eee0bb;
    height: 150vh;
    width: 100%;
}




/* =================la partie pied ===================*/
footer {
    max-width: 100%;
    background-image: linear-gradient(rgb(145, 136, 125),rgb(158, 142, 119), #eee0bb);
    background-color: rgb(145, 136, 125);
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 20px;
}



footer p {
    color: white;
    font-size: 20px;
    position: relative;
    margin: 15px 10px 15px 10px;
}
