#main {
    justify-content: space-evenly;
    /*background-image: url("../../images/competition/Compétition-Demi-Final-2.JPG");
    background-size: 1900px;
    filter: blur(10px);*/

}

.content {
    position: relative;;
    /*background-color: #f1e3a1;*/
    padding: 20px;
    color: rgb(112, 98, 79);
    border: 1px groove;
    border-color: #f1be13;
    border-radius: 8px;
    text-align: justify;
    box-shadow: var(--shadow-effect);
    animation: fadeIn 0.3s ease-out;
    transition: all 0.3s ease-out 0s;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.content:hover {
    box-shadow: 12px 10px 18px hsl(49, 87%, 69%);
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    border: 1px groove;
    border-radius: 10px;
    border-color: #f1be13;
}




@keyframes fadeIn {
    from {
        opacity: 0; 
        transform: translateY(15px); 
    }
    to { 
        opacity: 1; 
        transform: 
        translateY(0); 
    }
}


.content h3 {
    text-align: center;
    margin-bottom: 20px;
}

.content p {
    text-align: justify;
    margin-bottom: 20px;
}

.content h4 {
    text-align: left;
    margin-bottom: 10px;
}
#main{
    height: 140vh;
}

#article1 {
    position: absolute;
    align-items: center;
    margin-top: 95px;
    margin-left: 600px;
    width: 40%;
    height: 18%;
    /*background-color: #f1e3a1;
    color: rgb(112, 98, 79);
    border-top: 1px inset rgb(112, 98, 79);
    border-bottom: 1px inset rgb(112, 98, 79);*/

}

#article2 {
    position: absolute;
    align-items: center;
    /*margin: 3% 1% 2% 70%;*/
    margin-top: 370px;
    margin-left: 600px;
    width: 40%;
    /*background-color: #f1e3a1;
    color: rgb(112, 98, 79);
    border-top: 1px outset rgb(112, 98, 79);
    border-bottom: 1px outset rgb(112, 98, 79);*/
    /*border-right-color: rgb(112, 98, 79);
    border-bottom-color:rgb(112, 98, 79);*/
}

#article3 {
    position: absolute;
    /*margin: 100px 50px 20px 200px;*/
    margin-top: 770px;
    margin-left: 600px;
    width: 40%;
    /*background-color: #f1e3a1;
    color: rgb(112, 98, 79);
    border-bottom: 1px outset rgb(112, 98, 79);
    border-top: 1px outset rgb(112, 98, 79);*/
}

#article4 {
    position: absolute;
    /*margin: 20px 200px 20px 50px;*/
    margin-top: 1045px;
    margin-left: 600px;
    width: 40%;
    /*background-color: #f1e3a1;
    color: rgb(112, 98, 79)
    border-top: 1px outset rgb(112, 98, 79);
    border-bottom: 1px outset rgb(112, 98, 79);*/
}





